
.light-box{
  position: absolute;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  align-items: center;
  justify-content: center;
}

.light-box:hover svg path,
.light-box:focus svg path {
  stroke: Orange;
}

body {
  position: relative;
  font-family: font-primary;
  font-size: fs-400;
  background-color: white;
}